body {
    font-family: helvetica, sans-serif;
    background: rgb(51,51,51);
    text-align: center;
}

header {
    background: rgb(181, 162, 131);
    text-align: center;
}
h1 {

}

.menubar {
    display: inline;
    padding: 0px 10px 0px 10px;
}

.sidebar {
    float: left;
    width: 20%;
    background: rgb(181, 181, 181);
}

.eventsList {
    float: right;
    width: 80%;
    background: rgb(230, 230, 230);
}
